{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}
{{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h1>{{ . | markdownify }}</h1>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

<!-- about -->
{{ with .Params.about1 }}
{{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main" style="margin-top: 20px;">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

<!-- about -->
{{ with .Params.about2 }}
{{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main" style="margin-top: 20px;">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

<!-- about -->
{{ with .Params.about3 }}
{{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main" style="margin-top: 20px;">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

<!-- about -->
{{ with .Params.about4 }}
{{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main" style="margin-top: 20px;">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

{{ end }}